* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    margin: 110px 0 96px 0;
    gap: 30%;
    padding: 0 20%;
}

header h1 {
    font-family: 'PT Serif Caption';
    font-weight: 700;
    font-size: 36px;
    line-height: 46.58px;
    letter-spacing: -0.045em;
    white-space: nowrap;
}

header h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

header p {
    width: 439px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

main {
    padding: 0 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 450px);
    column-gap: 100px;
}

figure:nth-child(3n - 1) {
    align-self: end;
}

figure {
    display: block;
    position: relative;
}

.name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.position {
    font-family: 'PT Serif Caption';
    font-weight: 400;
    font-size: 12px;
    line-height: 15.53px;
    position: absolute;
    transform: rotateZ(90deg);
    transform-origin: top left;
    top: 0;
    left: 265px;
    white-space: nowrap;
}

footer {
    /* position: fixed; */
    width: 100%;
}

footer {
    bottom: 0;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: #BDBDBD;
    text-align: center;
    padding: 24px;
}

@media only screen and (max-width: 400px) {
    header {
        flex-direction: column;
        gap: 38px;
        padding: 0 18px;
    }

    main {
        padding: 0 18px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 450px);
        column-gap: 40px;
    }

    figure:nth-child(3n-1) {
        align-self: start;
    }

    figure:nth-child(even) {
        align-self: end;
    }

}